.basket__item {
  display: flex;
  padding: 1rem;
  justify-content: flex-start;
  align-items: flex-start;
}
.basket__item__image {
  height: 180px;
  width: 180px;
  margin-right: 1rem;
  object-fit: contain;
}
.checkout__line {
  color: gray;
  margin-right: 1rem;
}
