.payment__title {
  text-align: center;
  margin: 1em 0;
}
.payment__title a {
  text-decoration: none;
}
.payment__container {
  background-color: white;
}
.payment__section {
  padding: 1em;

  display: flex;
  border-bottom: 2px solid gainsboro;
}
.payment__section__title {
  flex: 0.2;
  font-size: 1.2em;
}
.payment__section__address {
  padding-left: 1rem;
}
.payment__section__address,
.payment__section__items,
.payment__details {
  flex: 0.8;
}

.payment__details form {
  max-width: 300px;
}
.payment__details h3 {
  margin: 1rem 0;
}
.payment__details button {
  background-color: #f0c14b;
  border: 1px solid;
  border-radius: 2px;
  width: 100%;
  font-weight: bolder;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  height: 30px;
}
