.stars {
  color: #f49822;
}
:root {
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}
.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 20px;
  width: 100%;
  background-color: white;
  z-index: 1;
  max-height: 400px;
  min-width: 100px;
  border-radius: 15px;
  box-shadow: var(--light-shadow);
}
.product:hover {
  box-shadow: var(--dark-shadow);
}
.product__info {
  height: 100px;
  margin-bottom: 15px;
  /*  align-self: flex-start;*/
}
.product__image {
  max-height: 200px;
  width: 100%;
  object-fit: contain;
  margin-bottom: 15px;
}
.product__price {
  margin: 5px 0;
}
.product__btn {
  background-color: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}
button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
